*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-around {
    justify-content: space-around;
}
.text-center {
    text-align: center;
}
.align-center {
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

.col-1{width: 8.33%; padding: 0 12px;}
.col-2{width: 16.66%; padding: 0 12px; }
.col-3{width: 25%;padding: 0 12px;}
.col-4{width: 33.33%;padding: 0 12px;}
.col-5{width: 41.66%;padding: 0 12px;}
.col-6{width: 50%;padding: 0 12px;}
.col-7{width: 58.33%;padding: 0 12px;}
.col-8{width: 66.66%;padding: 0 12px;}
.col-9{width: 75%;padding: 0 12px;}
.col-10{width: 83.33%;padding: 0 12px;}
.col-11{width: 91.66%;padding: 0 12px;}
.col-12{width: 100%;padding: 0 12px;}


@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
}

/* Small */

@media screen and (min-width: 576px) {

    .container{
        width: 560px;
    }

.col-sm-1{width: 8.33%; padding: 0 12px;}
.col-sm-2{width: 16.66%; padding: 0 12px;}
.col-sm-3{width: 25%; padding: 0 12px;}
.col-sm-4{width: 33.33%; padding: 0 12px;}
.col-sm-5{width: 41.66%; padding: 0 12px;}
.col-sm-6{width: 50%; padding: 0 12px;}
.col-sm-7{width: 58.33%; padding: 0 12px;}
.col-sm-8{width: 66.66%; padding: 0 12px;}
.col-sm-9{width: 75%; padding: 0 12px;}
.col-sm-10{width: 83.33%; padding: 0 12px;}
.col-sm-11{width: 91.66%; padding: 0 12px;}
.col-sm-12{width: 100%; padding: 0 12px;}
}

/* Medium */

@media screen and (min-width: 768px){

    .container{
        width: 720px;
    }

.col-md-1{width: 8.33%; padding: 0 12px;}
.col-md-2{width: 16.66%; padding: 0 12px;}
.col-md-3{width: 25%; padding: 0 12px;}
.col-md-4{width: 33.33%; padding: 0 12px;}
.col-md-5{width: 41.66%; padding: 0 12px;}
.col-md-6{width: 50%; padding: 0 12px;}
.col-md-7{width: 58.33%; padding: 0 12px;}
.col-md-8{width: 66.66%; padding: 0 12px;}
.col-md-9{width: 75%; padding: 0 12px;}
.col-md-10{width: 83.33%; padding: 0 12px;}
.col-md-11{width: 91.66%; padding: 0 12px;}
.col-md-12{width: 100%; padding: 0 12px;}
}

/* Large */

@media screen and (min-width: 992px){

    .container{
        width: 960px;
    }

.col-lg-1{width: 8.33%; padding: 0 12px;}
.col-lg-2{width: 16.66%; padding: 0 12px;}
.col-lg-3{width: 25%; padding: 0 12px;}
.col-lg-4{width: 33.33%; padding: 0 12px;}
.col-lg-5{width: 41.66%; padding: 0 12px;}
.col-lg-6{width: 50%; padding: 0 12px;}
.col-lg-7{width: 58.33%; padding: 0 12px;}
.col-lg-8{width: 66.66%; padding: 0 12px;}
.col-lg-9{width: 75%; padding: 0 12px;}
.col-lg-10{width: 83.33%; padding: 0 12px;}
.col-lg-11{width: 91.66%; padding: 0 12px;}
.col-lg-12{width: 100%; padding: 0 12px;}
}

/* Extra Large */

